*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  
  .container{
    width: 700px;
    height: 400px;
    
    margin-top:40px;
    margin-left:40px;
    border: 2px rgba(245,100,235,0.5) solid;
    overflow: hidden;
    
    position: relative;
  }
  
  .player{
    width: 50px;
    height: 100px;
    background-color:red;
    
    position: absolute;
    bottom:0;
  }
  .box{
    width: 25px;
    height: 25px;
    background-color:black;
    
    position: absolute;
    bottom: 0;
    right: 0; 
    animation: 2s box infinite linear;
  }
  
  
  
  .animate{
    animation:.5s jump;
  }
  
  @keyframes jump{
    0%{bottom:0;}
    40%{bottom:60px;}
    60%{bottom:60px;}
    100%{bottom:0px;}
  }
  
  @keyframes box{
    0%{right:0px;}
    100%{right:750px;}
  }